<h1 class="sign-in">ユーザログイン</h1>

<div class="info">
    <div class="left">
        <p>メール</p>
        <p>パスワード</p>
    </div>
    
    <div class="right">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <p><%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form' %></p>
        <p><%= f.password_field :password, autocomplete: "current-password", class:'form' %></p>
        <%= f.submit "ログイン", class:'btn' %>
      <% end %>
      <div class="link">
        <%= link_to "販売者ログイン画面へ", new_admin_session_path %><br><br>
        <%= link_to "ユーザ新規登録画面へ", new_customer_registration_path %>
      </div>
      
    </div>

</div>

