<!DOCTYPE html>
<html>
  <head>
    <title>OnesRoom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/51b1444613.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      
      <div class="header-left">
        <%= image_tag asset_path('/images/tantan.jpg', size:"70x70", class:'header-icon') %>
        <div class="header-logo">ones room</div>
      </div>
      
      <div class="header-right">
        <ul>
          
          <% if admin_signed_in? %>
            <% if request.fullpath.include? "/admin" %>
              <li><%= link_to "商品を見る", admin_items_path %></li>
              <li><%= link_to "マイページ", admin_mypage_path %></li>
              <li><%= link_to "注文一覧", admin_orders_path %></li>
              <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "商品を見る", items_path %></li>
              <li><%= link_to "マイページ", customer_mypage_path %></li>
              <li><%= link_to "カートを見る", cart_items_path %></li>
              <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
            <% end %>
          <% elsif customer_signed_in? %>
            <li><%= link_to "商品を見る", items_path %></li>
            <li><%= link_to "マイページ", customer_mypage_path %></li>
            <li><%= link_to "カートを見る", cart_items_path %></li>
            <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "商品を見る", items_path %></li>
            <li><%= link_to "マイページ", customer_mypage_path %></li>
            <li><%= link_to "カートを見る", cart_items_path %></li>
            <li><%= link_to "ログイン", new_customer_session_path %></li>
          <% end %>

        </ul>
      </div>
      
      
    </header>
    
    <main>
      
      <% flash.each do |message_type, message| %>
        <div class="flash-message <%= message_type %>"><%= message %></div>
      <% end %>

      <%= yield %>
    </main>
    
  </body>
</html>
